//colori richiesti//


$text-color: #f4f4f4; //colore testo
$button-primary: #0e6cff; //colore bottone
$button-secondary: #e87d00; //colore bottone
$button-success: #4caf50; //colore bottone
$bg-hero: #540cfa; //background hero